<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allschool">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".apunteNota"></activity>
        <activity
            android:name=".botonnn"
            android:label="@string/title_activity_botonnn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Asignaturas" />
        <activity
            android:name=".dibujo"
            android:label="@string/title_activity_dibujo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".apuntes" />
        <activity android:name=".Materias" />
        <activity android:name=".Tareas" />
        <activity android:name=".Horario" />
        <activity android:name=".CalculoNota" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>